body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header {
	box-sizing: border-box;
	position: absolute;
	left: 50%;
	display: none;
	height: 100vh;
	padding-top: 60px;
	background-color: bisque;
	z-index: 10;
	transform: translateX(-50%);
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: bisque;
}

#randomize__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
}

#randomize__name {
  display: block;
	max-width: 300px;
	font-size: 42px;
	text-align: center;
	font-weight: 900;
  margin: 0 0 50px;
}

#randomize__button,
#randomize__button_again {
  padding: 10px;
  width: 300px;
  height: 100px;
  font-size: 30px;
}

#randomize__button_again {
	display: none;
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  outline: none;
  color: #000;
  background: #ffffff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  border: 1px solid #000;

}

.glow-on-hover:hover,
.glow-on-hover:focus {
  border: 1px solid transparent;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #fff
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before,
.glow-on-hover:focus:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

#drinks_select {
	width: 300px;
	height: 35px;
}

#new_drink_group_input {
	height: 35px;
	margin-bottom: 20px;
}

#new_drink_input {
	height: 35px;
}

#new_drink {
	height: 30px;
	width: 300px;
	margin-bottom: 20px;
}

.drinks-select__wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 10px;
}

.new-drink__wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.new-drink__wrap input {
	width: 300px;
	margin-bottom: 10px;
}

.drinks-select__name,
.new-drink__name {
	margin-bottom: 10px;
}

.new-drink__wrap {
	display: none;
}

.burger {
	content: '';
	position: absolute;
	left: 50%;
	display: block;
	width: 20px;
	height: 4px;
	margin-top: 30px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-top: 4px solid #ffffff;
	border-bottom: 4px solid #ffffff;
	transform: translateX(-50%);
	z-index: 2;
	cursor: pointer;
}

.burger__center {
	height: 4px;
	width: 20px;
	background-color: #ffffff;
}

.close-header {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	display: block;
	width: 20px;
	height: 20px;
	margin-top: 30px;
	transform: translateX(-50%);
	cursor: pointer;
}

.close-header::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 20px;
	height: 4px;
	background-color: #ffffff;
	transform: translate(-50%, -50%) rotate(45deg);
}

.close-header::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 20px;
	height: 4px;
	background-color: #ffffff;
	transform: translate(-50%, -50%) rotate(-45deg);
}

.new-drink__list {
	margin: 0 20px 0;
	padding: 0;
	max-height: 300px;
	overflow-y: scroll;
}

.new-drink__item {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.new-drink__item p {
	margin: 0;
	padding: 0;
}

.new-drink__item-delete {
	content: '';
	position: absolute;
	right: 25px;
	display: block;
	width: 10px;
	height: 10px;
	/*transform: translateX(-50%);*/
	cursor: pointer;
}

.new-drink__item-delete::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 15px;
	height: 3px;
	background-color: #ffffff;
	transform: translate(-50%, -50%) rotate(45deg);
}

.new-drink__item-delete::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 15px;
	height: 3px;
	background-color: #ffffff;
	transform: translate(-50%, -50%) rotate(-45deg);
}
